---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import Giscus from "@components/Giscus.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
	const memes = await getCollection("memes");
	return memes.map((meme) => ({
		params: { slug: meme.slug },
		props: meme,
	}));
}

type Props = CollectionEntry<"memes">;

const meme = Astro.props;
const { Content, headings } = await meme.render();
---

<Layout title={meme.data.title} description="">
	<Container>
		<div class="animate">
			<BackToPrevious href="/memes">Back to memes</BackToPrevious>
		</div>
		<div class="mt-4 mb-4 md:mt-12 md:mb-8">
			<h1 class="animate text-xl md:text-2xl font-semibold text-black dark:text-white">
				{meme.data.title}
			</h1>
		</div>
		<article class="animate">
			<img
        src={meme.data.img}
        alt={meme.data.imgAlt ?? meme.data.title}
				width={1024}
        class="rounded-lg shadow-md max-w-full h-auto"
        loading="eager"
      />
			<div class="mt-4 md:mt-12">
				<Giscus />
			</div>
		</article>
	</Container>
</Layout>
