---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PublicationCard from "@components/PublicationCard.astro";
import SocialIcons from "@components/SocialIcons.astro";

const blog = (await getCollection("blog"))
  .filter((blog) => blog.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const publications: CollectionEntry<"publications">[] = (
  await getCollection("publications")
)
  .filter((publication) => publication.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate text-black dark:text-white text-4xl">
        John Fidel Kam
      </h1>
      <div class="space-y-16">
        <section>
          <article class="flex flex-col md:flex-row items-center justify-center md:items-start">
            <div class="space-y-4 flex-1">
              <span class="animate">
                <p>
                  Hi there! <img src="/jeffdance.gif" width="26px" alt="JeffDance" class="inline-block align-top ml-1" style="vertical-align: -6px">
                </p>
                <p>
                  I'm a PhD researcher from Monash University, School of Physics and Astronomy. I'm currently in Singapore as part of the A*STAR Research Attachment Programme (ARAP) under Dr. <Link href=https://scholar.google.com.sg/citations?user=ehdd1ucAAAAJ&hl external>Kishor Bharti</Link>. My research focuses on modeling, characterising, and mitigating non-Markovian noise for quantum error 
                  correction. My supervisors are Prof. <Link href=https://scholar.google.com/citations?user=96Uzen0AAAAJ&h external>Kavan Modi</Link> and 
                  <Link href=https://www.quantumelectronics.org/pi external>Muhammad Usman</Link>.
                </p>
                <p>
                  My current project revolves around using quantum combs and tensor networks to model general spatiotemporal noise for quantum error correction. Recently, I published a 
                  <Link href="https://doi.org/10.1088/2058-9565/adebab" external>study</Link> quantifying the impact of non-Markovian errors on surface code memory. I'm also keen to continue developing my skills in 
                  quantum software development.
                </p>
              </span>
              <span class="animate">
                <p>
                  Before this, I worked as a research assistant at the University of Melbourne's IBM Quantum Hub, where I <Link href="https://doi.org/10.1103/PhysRevResearch.6.033155">characterized 
                  large-scale entangled states</Link> on IBM quantum devices. This included verifying the largest GHZ state of 32 qubits (with measurement error mitigation) observed at the time and 
                  demonstrating whole-device bipartite entanglement on a 414-qubit superconducting processor. My supervisors were Prof. <Link href="https://findanexpert.unimelb.edu.au/profile/3038-lloyd-hollenberg" external>Lloyd Hollenberg</Link>, 
                  <Link href="https://quantumcharleshill.github.io/" external>Charles Hill</Link>, and <Link href="https://garymooney.github.io/" external>Gary Mooney</Link>.
                </p>
                <p>
                  I obtained my Bachelor and Master of Science in Physics from The University of Melbourne in 2020 and 2022, respectively. In my spare time, I enjoy cooking, swimming, and 
                  (losing in) chess.
                </p>
              </span>
                <span class="animate">
                  <p>
                    <span class="font-semibold text-black dark:text-white">Research Interests: </span>
                    Quantum error correction, tensor networks, non-Markovianity, quantum software development, scientific visualisation
                  </p>
                </span> 
            </div>

            <!-- Image container -->
            <div class="mt-4 md:mt-6 md:ml-5">
              <figure class="m-0 p-0">
                <img src="/profile-picture.png" alt="/profile-picture.png" class="w-64 h-auto object-cover" />
                  <figcaption class="text-base text-center font-mono text-black dark:text-white mt-4">
                    john.kam@monash.edu
                  </figcaption>
                  <div class="flex justify-center mt-3">
                    <SocialIcons icon_size={'text-3xl'} />
                  </div>
              </figure>
            </div>
          </article>
        </section>

        <!-- <section class="animate space-y-2 border-2 border-red-800 text-red-800 dark:border-red-400 border-dashed p-2 dark:text-red-400">
          📢📢 Your important Information (Open for job/Recruiting students)
        </section> -->

        <!-- <section class="animate space-y-6">
          <span class="animate">
            <h4 class="font-semibold text-black dark:text-white">
              Let's Connect
            </h4>
            <article>
              <p>
                If you want to get in touch with me about something or just to say
                hi, reach out on social media or send me an email.
              </p>
            </article>
            <SocialIcons icon_size={'text-3xl'} />
          </span>
        </section> -->

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Research Interests
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            <li>3D Vision</li>
            <li>AIGC</li>
          </ul>
        </section> -->
        
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4 overflow-y-auto max-h-[150px] scroll_bar">
            <li>[07/2025]: <span class='italic'>Detrimental non-Markovian errors for surface code memory</span> published in IOP Quantum Science and Technology.</li>
            <li>[05/2023]: Joined Monash University for a PhD, advised by <Link href=https://scholar.google.com/citations?user=96Uzen0AAAAJ&h external>Kavan Modi</Link> and <Link href=https://www.quantumelectronics.org/pi external>Muhammad Usman</Link>, to tackle the issue of correlated (especially non-Markovian) noise in quantum error correction.</li>
            <!-- <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li> -->
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Selected posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Selected research
            </h2>
            <Link href="/publications"> See all research </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              publications.map((publication) => (
                <li>
                  <PublicationCard entry={publication} />
                </li>
              ))
            }
          </ul>
        </section>

      </div>
    </aside>
  </Container>
</Layout>
